.HomeCarousel{
    padding-top: 0px;
    padding-bottom: 80px;
}

.imgSettings{
    height:800px;
    width:600px;
}

.container{
    padding-bottom: 20px;
}

.imgContainer{
    text-align: center;
    display: block;
}

.cardPadding{
    padding-top: 10px;
}