.HomeCarousel{
    padding-top: 0px;
    padding-bottom: 80px;
    
}

.imgSettings{
    height:800px;
    width:600px;
}

.container{
    padding-top: 100px;
    padding-bottom: 20px;
    /* padding-right: 600px;
    padding-left: 600px; */
}

.imgContainer{
    text-align: center;
    display: block;
}

.cardPadding{
    padding-top: 10px;
}